header[role=banner] {
  margin-top: 5em;
  text-align: center;
}

header[role=banner] h1 {
  font-size: 4em;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  header[role=banner] h1 {
    font-size: 8em;
  }
}

@media (min-width: 992px) {
  header[role=banner] h1 {
    font-size: 10em;
  }
}

header[role=banner] h2 {
  font-size: 3em;
  font-weight: normal;
  font-weight: 100;
  line-height: 100%;
  margin: 0;
  padding: 0;
  color: #666;
}

.small-word {
  font-weight: normal;
}

#shows {
  text-align: center;
}


.h-org .p-name,
.h-org .p-street-address,
.h-org .p-region,
.h-org .p-postal-code {
  margin-right: 1em;
}


#shows img {
  max-width: 100%;
}

#shows,
#bio,
#contact {
  padding-top: 5em;
}

#bio h3 {
  margin-top: 0;
}

#contact img {
  width: 200px;
}

footer[role=contentinfo] {
  margin-top: 10em;
  text-align: center;
}
