header[role=banner] {
  margin-top: 5em;
  text-align: center;
}

header[role=banner] h1 {
  font-size: 4em;
  font-weight: bold;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  header[role=banner] h1 {
    font-size: 8em;
  }
}

@media (min-width: 992px) {
  header[role=banner] h1 {
    font-size: 10em;
  }
}

header[role=banner] h2 {
  font-weight: normal;
  font-weight: 100;
  line-height: 100%;
  margin: 0 0 .5em 0;
  padding: 0;
  color: #666;
}

header[role=banner] img {
  width: 800px;
  max-width: 100%;
}

@media (min-width: 768px) {
  header[role=banner] h2 {
    font-size: 3em;
  }
}

@media (min-width: 992px) {
  header[role=banner] h2 {
    font-size: 4em;
  }
}


.small-word {
  font-weight: normal;
}

.h-event .p-note,
.h-event .p-note a {
  color: #999;
}

.h-media {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

.h-media img {
  margin: 0;
  width: 100%;
}

.h-media .caption {
  padding-left: 0;
}

.h-media .p-x-dimensions:after {
  content: " — ";
}

.h-media .dt-published {
  display: block;
  color: #ccc;
}

.h-media .p-price {
  padding: .5em;
  font-size: 1em;
  text-align: left;
  margin: 0;
}

.h-media .p-name {
  margin-top: .25em;
}
.h-org .p-name,
.h-org .p-street-address,
.h-org .p-region,
.h-org .p-postal-code {
  margin-right: 1em;
}


#shows,
#bio,
#contact {
  padding-top: 5em;
}

#shows .p-location {
  margin-left: 1em;
}

#shipping {
  border-top:    1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: .5em;
}

#bio h3 {
  margin-top: 0;
}

.h-card .u-photo {
  max-width: 100%;
  margin-bottom: 1em;
}

footer[role=contentinfo] {
  margin-top: 10em;
  text-align: center;
}
